body{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
    margin: 0;
    padding: 0;
}

#con-box{
    padding: 10px;
    border: 4px solid;
    display: flex;  
}

#Bankercardresult, #Playercardresult{
    margin-top: 20px;
    
}

.pcard img, .bcard img {
    display: inline-block;
    width: 100px;
    height: 130px;
    margin: 5px;
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
    line-height: 130px;
    text-align: center;
    border-radius: 5px;
    object-fit: cover; 
    border: 1px solid #ccc; 
    margin-bottom: 30px;
}

  #playercard, #bankercard {
    border: 3px solid wheat;
    border-radius: 10px;
    text-align: center;
    height: auto;
    width: 500px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

#bankercard{
    margin-left: 10px;
}

#hd{
font-style: Helvetica;
text-align: center;
font-size: 3em;
color: aliceblue;
}

.btns{
    margin-top:30px;
    display: flex;
    grid-template-columns: repeat(n, 1fr);
    gap: 20px;
}

.btns button{
    font-family: verdana;
    align-items: center;
    border-radius: 15px;
    font-size: 1.5rem;
    height: 180px;
    justify-content: center;
    cursor: pointer;
    width: 120px;    
    border: 1px solid ;
}





#player{
    background-color: rgba(25, 61, 221, 0.753);
}
#tie{
    background-color: rgba(25, 221, 67, 0.733);
}
#banker{
    background-color: rgba(221, 25, 25, 0.774);
}
#start{
    background-color: rgb(214, 218, 23);
}
#player:hover{
    background-color: rgba(13, 37, 141, 0.753);
}
#tie:hover{
    background-color: rgba(11, 107, 32, 0.733);
}
#banker:hover{
    background-color: rgba(92, 11, 11, 0.774);
}
#start:hover{
    background-color: rgba(215, 218, 23, 0.808);
}


#cardResult{
    text-align: center;
    margin-top: 20px;
    font-size: 3.5rem;
}