body{
    align-items: center;
    display: flex;
    flex-direction: column;
}


#hd{
font-style: Helvetica;
text-align: center;
font-size: 3em;

}



.btns button{
    align-items: center;
    border-radius: 15px;
    font-size: 1.5rem;
    height: 200px;
    justify-content: center;
    
    width: 120px;
    
     
}

#cardResult{
    text-align: center;
    margin-top: 20px;
}